
<!--ナビゲーションバー-->
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">D-table</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
        <a class="mdl-navigation__link" href="">Link</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">D-table</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
      <a class="mdl-navigation__link" href="">Link</a>
    </nav>
	</div>

	<!--メイン-->

  <main class="mdl-layout__content">
		<div class="page-content">
			<div class="table-base">
				<!--曜日-->
				<div class="mdl-grid">
					<% 6.times do |i| %>
						<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone <%= @day_hash[i] %>">
							<h2><%= @day_hash[i] %></h2>
						</div>
					<% end %>
				</div>

				<!--1限目~6限目の生成-->
				<div class="mdl-grid">
					<% 6.times do |j| %>
						<% 6.times do |i| %>
							<div class="mdl-cell mdl-cell--2-col mdl-cell--1-col-phone <%= @day_hash[i] %> <%= i + 1 %>">
								<%= @day_hash[i] %>の<%= j + 1 %>
								<a href="/subjects/<%= @day_hash[i] %>/<%= j + 1 %>"></a>
							</div>
						<% end %>
					<% end %>
				</div>


			</div>
		</div>
  </main>
</div>


