
<!--ナビゲーションバー-->
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">D-table</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
	  <nav class="mdl-navigation mdl-layout--large-screen-only">
		<!--データベース完成次第変数を入れる-->
		<p><%= @gakubu_hash[@gakubu] %></p>
		<p><%= @gakka_hash[@gakka] %></p>
		<p><%= @grade %>年</p>
			<p>選択単位数:<%= @sum_credit %></p>
			<!-- コード書き出し用ボタン -->
			<p><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Export Codes</button></p>
      	</nav>
      </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">D-table</span>
		<nav class="mdl-navigation">
				<p>理工学部</p>
				<p>情報システムデザイン学科</p>
				<p>選択単位数:<%= @sum_credit %></p>
				<!-- コード書き出し用ボタン -->
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent navb">
  					Export Codes
				</button>
    </nav>
	</div>

	<!--メイン-->
	<table class="brwsr1">
		<tbody>
			<!--時間割の見出し？作成-->
			<tr>
				<% 7.times do |i| %>
					<th class="r<%= i %>"><%= @day_hash[i] %></th> 
				<% end %>
			</tr>
			
			<!--時間割生成-->
			<!--
		 @day_hash = {0 => "nul", 1 => "Mon", 2 => "Tue", 3 => "Wed", 4 => "Thu", 5 => "Fri", 6 => "Sat"}
		 例:月2 -> Mon2
			-->
			<% 6.times do |j| %>
				<tr>
					<th class="r0"><%= j + 1 %>限目</th>
					<% 6.times do |i| %>
						<td class="r<%= i + 1 %> D-table-<%= @day_hash[i + 1] %><%= j + 1 %> before" id="D-table-<%= @day_hash[i + 1] %><%= j + 1 %> off" data-day="<%= @day_hash[i + 1] %>" data-period="<%= j + 1 %>">
							<div class="td-content">clickで科目を選択</div>
							<div class="modal"> 
								<a href="#" class="close"><i class="material-icons">clear</i></a>
    							<div class="modal-content">
      								<h3>error</h3>
    							</div>
  							</div>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>


</div>

