
<div class="subject_wrapper">
	<h4>科目一覧</h4>
	<!--データベース導入後-->
	<!--汚すぎてごめんなさい-->
	<% @requiered = 1 %>
	<% @subject.each do |subject| %>
		<% if subject.classes == 0 && subject.semester == @semester && subject.grade <= @grade.to_i && subject.dates == @week + @period then %>
			<p class="requiered-subject subject-destroy" data-subject="<%= subject.subname %>" data-dp="<%= subject.dates %>" data-credit="<%= subject.credit %>"><a    data-subject="<%= subject.subname %>" data-dp="<%= subject.dates %>" data-credit="<%= subject.credit %>" href="#">
				<%= subject.subname %>
				(<%= subject.grade %>年)
			<% @requiered = 0 %>	
			</a><br />
			<a class="code">科目コード：<%=subject.code %></a>
			<a href="<%=subject.last_url %>" TARGET="_blank">(シラバス)</a></p>
			
		<% end %>
	<% end %>
	
	<% @subject.each do |subject| %>
		<% if @requiered == 1 &&  subject.semester == @semester && subject.grade <= @grade.to_i && subject.dates == @week + @period then %>
			<p><a href="<%=subject.last_url %>" class="subject" data-subject="<%= subject.subname %>" data-dp="<%= subject.dates %>" data-credit="<%= subject.credit %>" href="#">
				<%= subject.subname %>
				(<%= subject.grade %>年)
			</a><br />
				<a class="code">科目コード：<%=subject.code %></a>
			<a href="<%=subject.last_url %>" TARGET="_blank">(シラバス)</a></p>
		<% end %>
	<% end %>

		<!--ここに科目入力欄が入る(D_table.erb参照)-->	

	</div>
</div>


