
<div class="subject_wrapper">
	<h4>科目一覧</h4>
		<!--データベース導入後-->
		<% @subject.each do |subject| %>
			<% if subject.dates == @week + @period && subject.semester == @semester && subject.grade <= @grade.to_i then %>
				<p><a class="subject" data-subject="<%= subject.subname %>" data-dp="<%= subject.dates %>" data-credit="<%= subject.credit %>" href="#">
					<%= subject.subname %>
					<% if subject.grade != 0 then %>
						(<%= subject.grade %>年)
					<% end %>
					</a></p>
			<% end %>
		<% end %>

		<!--ここに科目入力欄が入る(D_table.erb参照)-->	

	</div>
</div>


