<div class="subject_wrapper">
	<p>/subjects/<%= @week %>/<%= @period %></p>
	<h2>科目一覧</h2>
		<% @subjects_hash.each do |key,value| %>
			<% if (@week + @period.to_s) == key %>
				<% value.each do |subject| %>
					<p><a class="subject-<%= key %>" href="#">
						<%= subject %>
					</a></p>
				<% end %>
			<% end %>
		<% end %>

	<div class="form ">
		<h2>科目入力欄</h2>
		<form action="new" method="post">

			<div class="mdl-textfield mdl-js-textfield">
				<input class="mdl-textfield__input" type="text" id="<%= @week %><%= @period %>" />
				<label class="mdl-textfield__label" for="<%= @week %><%= @period %>">科目名</label>
			</div>

			<div class="mdl-textfield mdl-js-textfield">
				<input class="mdl-textfield__input" type="text" id="<%= @week %><%= @period %>" />
				<label class="mdl-textfield__label" for="<%= @week %><%= @period %>">科目コード</label>
			</div>

			<div class="mdl-textfield mdl-js-textfield">
				<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="<%= @week %><%= @period %>" />
				<label class="mdl-textfield__label" for="<%= @week %><%= @period %>">単位数</label>
				<span class="mdl-textfield__error">数字を入力してください。</span>
			</div>
			
			<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
				SUBMIT
			</button>

		</form>
	</div>
</div>

 <script type="text/javascript" src="script.js"></script>
