
<!--ナビゲーションバー-->
<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">D-table</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
			<nav class="mdl-navigation mdl-layout--large-screen-only">
				<p>理工学部</p>
				<p>情報システムデザイン学科</p>
				<p>選択単位数:<%= @sum_credit %></p>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">D-table</span>
		<nav class="mdl-navigation">
				<p>理工学部</p>
				<p>情報システムデザイン学科</p>
				<p>選択単位数:<%= @sum_credit %></p>

    </nav>
	</div>

	<!--メイン-->
	<table class="brwsr1">
		<tbody>
			<!--時間割の見出し？作成-->
			<tr>
				<% 7.times do |i| %>
					<th class="r<%= i %>"><%= @day_hash[i] %></th> 
				<% end %>
			</tr>
			
			<!--時間割生成-->
			<!--
		 @day_hash = {0 => "nul", 1 => "Mon", 2 => "Tue", 3 => "Wed", 4 => "Thu", 5 => "Fri", 6 => "Sat"}
		 例:月2 -> Mon2
			-->
			<% 6.times do |j| %>
				<tr>
					<th class="r0"><%= j + 1 %>限目</th>
					<% 6.times do |i| %>
						<td class="r<%= i + 1 %> cell D-table-<%= @day_hash[i + 1] %><%= j + 1 %>">
							<a href="/subjects/<%= @day_hash[i + 1] %>/<%= j + 1 %>"></a>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>

	
	<div class="subject_wrapper">
		<h2>科目一覧</h2>
			<% @subjects_hash.each do |key,value| %>
				<% if (@week + @period.to_s) == key %>
					<% value.each do |subject| %>
						<p><a class="subject-<%= key %> subject" href="#">
							<%= subject %>
						</a></p>
					<% end %>
				<% end %>
			<% end %>

		<div class="form ">
			<h2>科目入力欄</h2>
			<form action="new" method="post">

				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="text" id="<%= @week %><%= @period %>" />
					<label class="mdl-textfield__label" for="<%= @week %><%= @period %>">科目名</label>
				</div>

				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="text" id="<%= @week %><%= @period %>" />
					<label class="mdl-textfield__label" for="<%= @week %><%= @period %>">科目コード</label>
				</div>

				<div class="mdl-textfield mdl-js-textfield">
					<input class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" id="<%= @week %><%= @period %>" />
					<label class="mdl-textfield__label" for="<%= @week %><%= @period %>">単位数</label>
					<span class="mdl-textfield__error">数字を入力してください。</span>
				</div>
				
				<button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
					SUBMIT
				</button>

			</form>
		</div>
	</div>


</div>


